[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41367455
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && go run main.go"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[deployment]
run = ["sh", "-c", "cd backend && go run main.go"]
build = ["sh", "-c", "cd frontend && npm run build"]
