
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && go run main.go"]
build = ["sh", "-c", "cd frontend && npm run build"]

[env]
GOROOT = "/nix/store/z8g3mkxk3cwz7459lw50p1p5x53wm6j3-go-1.21.0/share/go"

[[hints]]
regex = "Error from server \(InternalError\)"
message = "Your Go application crashed. Check the logs above to see what happened."

[languages.go]
pattern = "**/*.go"
syntax = "go"

[languages.go.languageServer]
start = ["gopls"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[workflows.Dev]
name = "Dev"
mode = "parallel"

[[workflows.Dev.tasks]]
task = "shell.exec"
args = "cd backend && go run main.go"

[[workflows.Dev.tasks]]
task = "shell.exec" 
args = "cd frontend && npm run dev"
